
<div id="thankYou" style="display:none">
  <div class="row">
    <div class="span6 offset3">
      <div class="well-large" style="text-align: center">
        <h1>Your order is ready to place. Click to complete.</h1>

        <table class="table">
          <tr>
            <td><strong>Order</strong></td>
            <td><strong>Ready To Place</strong></td>
          </tr>
          <tr>
            <td><strong>Payment Request Status</strong></td>
            <td><strong>
              <div id="paymentRequestStatus"></div>
            </strong></td>
          </tr>
          <tr>
            <td><strong>Token</strong></td>
            <td><strong>
              <div id="paymentRequestToken"></div>
            </strong></td>
          </tr>
        </table>
        <form id="finishOrder" action="/finish_order" method="POST">
          <input id="tokenField" type="hidden" name="token" value="">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
<div id="shoppingCart">
  <div class="row">
    <div class="span12">
      <div class="well-large">
        <table class="table">
          <thead>
          <tr>
            <td>Title</td>
            <td>Description</td>
            <td>SKU</td>
            <td>Price</td>
          </tr>
          </thead>
          <tr>
            <td>Pre Party</td>
            <td>Pretty awesome 'business' party</td>
            <td>PRTY-PRE</td>
            <td>$100.00</td>
          </tr>
          <tr>
            <td>Durring Party</td>
            <td>The Main Event</td>
            <td>PRTY-DUR</td>
            <td>$240.00</td>
          </tr>
          <tr>
            <td>After Party</td>
            <td>The Actual Party</td>
            <td>PRTY-AFR</td>
            <td>$2000.00</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span5 offset7">
      <div class="well-large">

        <table class="table">
          <tr>
            <td><strong>Total</strong></td>
            <td><strong>$2,340.00</strong></td>
          </tr>
          <tr>
            <td>
              <p><strong>Click to pay</strong></p>
            </td>
            <td>
              <p><img src="img/credit-card-logos-sm.png"/></p>
              
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
